/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/common/__pycache__
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/results_Eleni_Take2_mocap8_kld0.2_cl1.0
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/results_Eleni_Take2_mocap8_kld1.0_cl0.0
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/results_Eleni_Take2_mocap8_kld1.0_cl1.0
/VAE/Audio_VAE/Audio_VAE_Vocos/Training/results_audio_vae_vocos_cnn_Diane_kld0.1
/VAE/Audio_VAE/Audio_VAE_Vocos/Training/results_audio_vae_vocos_cnn_Diane_kld1.0
/VAE/Audio_VAE/Audio_VAE_Vocos/Training/results_audio_vae_vocos_cnn_Eleni_kld0.1
/VAE/Audio_VAE/Audio_VAE_Vocos/Training/results_audio_vae_vocos_cnn_Eleni_kld1.0
/VAE/Audio_VAE/Audio_VAE_Vocos/Training/results_audio_vae_vocos_cnn_Tim_kld0.1
/VAE/Audio_VAE/Audio_VAE_Vocos/Training/results_audio_vae_vocos_cnn_Tim_kld1.0
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/Training/common/__pycache__
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/Training/results_Eleni_Take2_mocap8_kld0.2_cl1.0
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/Training/results_Eleni_Take2_mocap8_kld1.0_cl0.0
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/Training/results_Eleni_Take2_mocap8_kld1.0_cl1.0
/Transformer/Motion2Audio_Transformer_Music2Latent/Inference/common/__pycache__
/Transformer/Motion2Audio_Transformer_Music2Latent/Inference/music2latent/__pycache__
/Transformer/Motion2Audio_Transformer_Music2Latent/Training/music2latent/__pycache__
/Transformer/Motion2Audio_Transformer_Music2Latent/Training/results_Diane
/Transformer/Motion2Audio_Transformer_SoundStream/Inference/common/__pycache__
/Transformer/Motion2Audio_Transformer_SoundStream/Training/common/__pycache__
/Transformer/Motion2Audio_Transformer_SoundStream/Training/results_Eleni_Take1
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Inference/common/__pycache__
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/common/__pycache__
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Diane_ExcerptRepeat_Take1_v4.2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Diane_ExcerptRepeat_Takes1-4_v4.2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Diane_Father_v3
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Diane_Father_v4
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Diane_Take2_kld1.0_60hz
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Eleni_ExcerptRepeat_Take1_v4.2
/Transformer/Motion2Audio_Transformer_Vocos/Training/results_Eleni_Take1_v4_2
/Transformer/Motion2Audio_Transformer_Vocos/Training/common/__pycache__
/Transformer/Motion2Audio_Transformer_Vocos/Inference/common/__pycache__
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Tim_Take1_v4
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Tim_RepeatedExcerpts_Take1_60hz_v4.2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Stocos_Take3_v4
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Eleni_Take2_v4_2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Eleni_Take1_v4_2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Tim_RepeatedExcerpts_Takes1-3_60hz_v4_2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Stocos_Take3_v2
/Transformer/Motion2Audio_Transformer_Vocos/Training/results_Eleni_Take1_v4
/Transformer/Motion2Audio_Transformer_Vocos/Training/results_Diane_Take1_v4
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Eleni_Take2_kld0.1_60hz
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Eleni_ExcerptRepeat_Takes1-3_v4.2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Diane_Father
/Transformer/Motion2Audio_Transformer_Music2Latent/Training/common/__pycache__
/Transformer/Motion2Audio_Transformer_Music2Latent/Training/music2latent/models
/Transformer/Motion2Audio_Transformer_Music2Latent/Inference/music2latent/models
